<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron">
    <h1>Pomiary</h1>
</div>
<div class="container">
    <div class="column-left"><h2>Column one</h2></div>
    <div class="greyline"></div>
    <div class="column-center"><h2>Column two</h2></div>
    <div class="greyline"></div>
    <div class="column-right"><h2>Column three</h2></div>
</div>

</body>
</html>
